{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}
    <h1>Bibliothèque</h1>

    <a href="{{ path('app_livre_index') }}">Livres</a>
    <a href="{{ path('app_auteur_index') }}">Auteurs</a>
    <a href="{{ path('app_genre_litteraire_index') }}">Genres</a>

{% endblock %}
